*{
    box-sizing: border-box;
}

body{
    display: flexbox;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header,
.main{
    align-items: center;
    justify-content: center;
}